.header {
	 display: inline !important;	
   
}
.menu {
    display:none;
   
}

.message-button--submit {
 display: block;
    position: absolute;
    top: 9px;
    right: 9px;
}

.header-channel {
    display: inline;
  visibility: hidden;
    height: 50px;
    margin-left: 60px;
    margin-right: 96px;
    font: normal 32px/46px 'Terminal Dosis', sans-serif;
    color: rgba(255,255,255,0.8);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-avatar { 
display:none;
}

